<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319988760654-ur4j3f13dd3s5e4572eb03ibkurf9jgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319988760654-ur4j3f13dd3s5e4572eb03ibkurf9jgg</string>
	<key>API_KEY</key>
	<string>AIzaSyAYX9dWJscw0HpZoz8jL2RghSnOAjolnic</string>
	<key>GCM_SENDER_ID</key>
	<string>319988760654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kazimirchik-Aleksei.Record</string>
	<key>PROJECT_ID</key>
	<string>record-5cfdc</string>
	<key>STORAGE_BUCKET</key>
	<string>record-5cfdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319988760654:ios:8d2b8f7b25099baa69431f</string>
</dict>
</plist>